<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap - Prebuilt Layout</title>

<!-- Bootstrap -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Rate <em>your</em> family tree</h1>
    </div>
  </div>
  <hr>
</div>
<div class="container">
 
  <hr>
 

  <div class="row">
   
   <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
 

    <div class="item active">
    <div class="row">
    <div class="col-sm-6">
      <img src="/static/simpson.png" alt="Chania">
      </div>
      <div class="col-sm-6">
	<p><button class="btn btn-default" >Comment</button></p>
     <span class="label label-default">Abraham:
"Abraham is always having random WWII Flash backs! He punched me in the face once!""</span>
</br>
     <span class="label label-primary">Homer: 
He once said, "I'd be a vegetarian if bacon grew on trees..."</span></br>
     <span class="label label-success">Bart:
"When has he not been in detention?"
</span></br>
     <span class="label label-info">Maggie:
"SHE'S A COLD HARD KILLER! I SAW HER! SHE ALKSFDJKLAK4 ERTKJ KKQ AAFJA'J3I2"</span>
     
      </div>
      </div>
    </div>

     <div class="item ">
    <div class="row">
    <div class="col-sm-6">
      <img src="familyguy.gif" alt="Chania">
      </div>
      <div class="col-sm-6">
     <span class="label label-default">Peter Grifin:
"Do you want to know what grinds my gears? PETER GRIFIN! He's the worst."
</span></br>
     <span class="label label-primary">Meg:
"Lol... whut?!?"</span></br>
     <span class="label label-success">Stewie:
"He's so innocent! So funny when he says, DIE WRETECHED WOMAN! Oh, he's a joker!"</span></br>
    
      </div>
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="text-center col-md-6 col-md-offset-3">
      <h4>Polar bears</h4>
      <p>Copyright &copy; 2015 &middot; All Rights Reserved
	&middot; </p>
<p><a href="http://catherine.northcott.nz/" >Catherine's Website! </a></p>
      <p><a href="http://jordandashel.com/" >Jordan's Website! </a></p>
<p><a href="http://aaronchau.me/" >Aaron's Website! </a></p>
      </p>
    </div>
  </div>
  <hr>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="../nsc-cloudproject-s22016-master (1)/nsc-cloudproject-s22016-master/web/js/jquery-1.11.3.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed --> 
<script src="../nsc-cloudproject-s22016-master (1)/nsc-cloudproject-s22016-master/web/js/bootstrap.js"></script>
</body>
</html>
